@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

* {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100% !important;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}

.card .card-content {
  margin-top: 50px;
  height: 380px;
}

.nav-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

nav ul a {
  font-size: 1.6rem !important;
}

.container-about {
  position: relative;
  text-align: center;
  color: white;
}

.container-info,
.container-sankofa,
.container-cfc,
.container-inscricao {
  /* padding-top: 200px; */
  height: 100vh;
  width: 100vw;
}

.container-footer {
  height: 30vh;
  width: 100vw;
}

.container-info-sankofa {
  width: 50vw;
  padding: 80px;
  position: absolute;
  top: 220%
}

.container-info-cfc {
  width: 50vw;
  padding: 80px;
  position: absolute;
  top: 320%
}

.container-info-inscricao {
  width: 30vw;
  padding: 80px;
  position: absolute;
  top: 410%
}

.row-info {
  position: absolute;
  top: 120%;
}

.color-missao {
  background-color: #bfb2ae;
}

.color-visao {
  background-color: #d3d7cf;
}

.color-valores {
  background-color: #babdb6;
}

.color-sankofa {
  background-color: #eeeeec;
}

.blue-nav {
  background-color: #0e232e;
}

.text-container-info {
  font-size: 1.2rem;
}

.img-container-info {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-container-about {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.img-container-sankofa {
  position: absolute;
  height: 100vh;
  width: 50vw;
  object-fit: cover;
}

.img-container-inscricao {
  position: absolute;
  height: 100vh;
  width: 70vw;
  object-fit: cover;
}

.iframe-container-cfc {
  position: absolute;
  top: 335%;
  left: 8%;
}

.marca-container-sankofa,
.marca-container-cfc {
  margin: 0 auto;
  width: 600px;
  display: block;
  padding-bottom: 5vh;
}

.marca-footer {
  margin: 0 auto;
  width: 400px;
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.marca-container-inscricao {
  margin: 0 auto;
  width: 400px;
  display: block;
  padding-bottom: 5vh;
}

.text-about {
  text-align: right;
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.title-light {
  display: block;
  font-weight: 200;
  font-size: 6rem;
}

.title-bold {
  font-weight: 900;
  font-size: 6rem;
}

.text-about {
  font-size: 1.6rem;
}

.text-sankofa,
.text-cfc {
  font-size: 1.5rem;
}

.text-inscricao {
  font-size: 1.2rem;
  text-align: center;
}

.text-footer {
  font-size: 1.5rem;
  text-align: center;
}

.text-cfc {
  text-align: right;
}

.row .col.l2 {
  padding: 0;
}

.row .col.m2 {
  padding: 0;
}