.card {
  margin: 0 auto;
}

.color-missao {
  background-color: #bfb2ae;
}

.color-visao {
  background-color: #d3d7cf;
}

.color-valores {
  background-color: #babdb6;
}

.color-sankofa {
  background-color: #eeeeec;
}

.container-info {
  padding: 12vh;
}

.container-sankofa, .container-cfc {
  padding: 100px;
}

.container-inscricao {
  display: block;
  margin: 0 auto;
  padding: 40px;
}

.nav-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

nav ul a {
  font-size: 1.2rem !important;
}

.img-container-info {
  border-style: none;
  margin: 0 auto;
  display: block;
  width: 10vw;
  padding-bottom: 10vh;
}

.img-container-sankofa, .img-container-cfc {
  border-style: none;
  margin: 0 auto;
  display: block;
  width: 30vw;
  padding-bottom: 2vw;
}

.img-container-inscricao {
  border-style: none;
  margin: 0 auto;
  display: block;
  width: 20vw;
  padding-bottom: 2vw;
}

.iframe-container-cfc {
  display: block;
  margin: 0 auto; 
  margin-top: 20vh;
}

.text-container-info {
  padding: 20px;
  min-height: 380px;
  font-size: 1.3rem;
}

.marca-footer {
  margin: 0 auto;
  width: 400px;
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.text-container-sankofa, .text-container-cfc {
  font-size: 1.5rem;
}

.text-inscricao {
  font-size: 1.2rem;
  text-align: center;
}

.row {
  margin-bottom: 0 !important;
}

.row .col {
  padding: 0;
}

.blue-nav {
  background-color: #0e232e;
}